{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/styleOrganisateur.css') }}">
{% endblock %}

{% block nav %}
    {{ parent() }}
    <a href="{{ path('user_logout') }}" class="waves-effect waves-light deep-orange darken-1 btn">Se déconnecter</a>
{% endblock %}

{% block body %}
    <div class="line">
        <div class="z-depth-3 cardTop left">
            <h4 class="center-align">Joueurs</h4>
            <div class="content-container">
                <div class="btn-container">
                    <a class="waves-effect waves-light btn buttonAjouter" href="{{ path('app_player_addplayer') }}">Ajouter</a>
                    <a class="waves-effect red lighten-1 btn buttonAjouter" href="{{ path('app_player_get') }}">Supprimer</a>
                </div>
            </div>
        </div>
        <div class="z-depth-3 cardTop right">
            <h4 class="center-align">Matchs</h4>
            <div class="column-content">
                <div class="content-container">
                    <div class="btn-container vertical">
                        <p>Match simple :</p>
                        <a class="waves-effect waves-light btn buttonMatch" href="#">Ajouter</a>
                        <a class="waves-effect red lighten-1 btn buttonMatch">Supprimer</a>
                    </div>
                </div>
                <div class="content-container">
                    <div class="btn-container vertical">
                        <p>Match double :</p>
                        <a class="waves-effect waves-light btn buttonMatch" href="#">Ajouter</a>
                        <a class="waves-effect red lighten-1 btn buttonMatch">Supprimer</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <p class="center-align">Résultat matchs :</p>
                <div class="center-elem-form">
                    <a class="waves-effect waves-light btn" href="#">Ajouter résultat</a>
                </div>
            </div>
        </div>
    </div>
    <div class="line">
        <div class="z-depth-3 cardBottom left">
            <h4 class="center-align">Arbitre</h4>
            <div class="content-container">
                <div class="btn-container">
                    <a href="{{ path('app_referee_add') }}" class="waves-effect waves-light btn buttonAjouter">Ajouter</a>
                    <a href="{{ path('app_referee_get') }}" class="waves-effect red lighten-1 btn buttonAjouter">Supprimer</a>
                </div>
            </div>
        </div>
        <div class="z-depth-3 cardBottom left">
            <h4 class="center-align">Court</h4>
            <div class="content-container">
                <div class="btn-container">
                    <a class="waves-effect waves-light btn" href="#">Ajouter</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
{% endblock %}