{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/addPages.css') }}">
{% endblock %}

{% block nav %}
    {{ parent() }}
    <a href="{{ path('app_admin_index') }}" class="waves-effect waves-light deep-orange darken-1 btn">Retour</a>
{% endblock %}

{% block body %}
    <h4 class="center-align">Planifier un match simple</h4>

    <div class="container">
        <div class="frame z-depth-3">
            {{ form_start(form, {'attr': {'class': 'col s12 add_page_form' }}) }}
            <div class="row col s12">
                <div class="input-field field center-elem-form">
                    {{ form_widget(form.tournament, {'attr': {'placeholder': 'tournoi'}}) }}
                </div>
            </div>
            <div class="row col s12">
                <div class="input-field field center-elem-form">
                    {{ form_widget(form.tennisCourt, {'attr': {'placeholder': 'Court'}}) }}
                </div>
            </div>
            <div class="row col s12">
                <div class="input-field field center-elem-form">
                    {{ form_widget(form.referee, {'attr': {'placeholder': 'Court'}}) }}
                </div>
            </div>
            <div class="row col s12">
                <div class="center-elem-form validate-btn">
                    {{ form_widget(form.valider, {'attr': {'class': 'waves-effect waves-light btn'}}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
{% endblock %}


