{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/index.css') }}">
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/index.js') }}"></script>
{% endblock %}

{% block nav %}
    {{ parent() }}
    <a href="{{ path('app_admin_index') }}" class="waves-effect waves-light deep-orange darken-1 btn">Se connecter</a>
{% endblock %}

{% block body %}
    <div class="filtre-bar">
        <div class="btn-filtre t-selected"><span class="t-tous">Tous</span></div>
        {% for tournament in listeOfTournament %}
            <div class="btn-filtre t-not-selected">
                <span class="{{ tournament.className }}">{{ tournament.name }}</span>
            </div>
        {% endfor %}
    </div>
    <div class="divider"></div>
    <div class="matches-block">
        {% for match in listeOfMatchs %}
            <div class="match-block {{ match.tournament.className }}">
                <div class="top-line">
                    <div>
                        <div class="label">date</div>
                        <div class="value">{{ match.date|date("d/m/Y") }}</div>
                    </div>
                    <div>
                        <div class="label">heure</div>
                        <div class="value">{{ match.date|date("G\\hi") }}</div>
                    </div>
                    <div>
                        <div class="label">durée</div>
                        <div class="value">{{ match.duration }}</div>
                    </div>
                </div>
                <div class="tournament-block">{{ match.tournament.name }}</div>
                <div class="teams-block">
                    {% set scoreA = match.scoreA %}
                    {% set scoreB = match.scoreB %}
                    {% set teamA = scoreA.team %}
                    {% set teamB = scoreB.team %}
                    <div class="team-block {% if scoreA.win %}winners{% endif %}">
                        <div>Equipe 1</div>
                        <div class="players-block">
                            {% for player in teamA.players %}
                                <div>{{ player }}</div>
                            {% endfor %}
                        </div>
                        <div class="set-block">
                            <div class="value">{{ scoreA.nbSetWin }}</div>
                            <div class="label">set</div>
                        </div>
                    </div>
                    <div class="vs-block">VS</div>
                    <div class="team-block {% if scoreB.win %}winners{% endif %}">
                        <div>Equipe 2</div>
                        <div class="players-block">
                            {% for player in teamB.players %}
                                <div>{{ player }}</div>
                            {% endfor %}
                        </div>
                        <div class="set-block">
                            <div class="value">{{ scoreB.nbSetWin }}</div>
                            <div class="label">set</div>
                        </div>
                    </div>
                </div>
                <div class="arbitre-block">
                    <div class="label">arbitre</div>
                    <div class="value">{{ match.referee }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}